extends includes/layout.pug

block variables
  - var pageTitle = `${site.name} | Resource Library — Archive`
  - var bodyClass = 'page-resources'
  - var pageDescription = 'Archived HHS Cyber Gateway resources from prior years.'

block content
  - var docBase = 'https://405d.hhs.gov/Documents'

  section.resources-page
    .container-xl
      .resources-page__intro(data-animate)
        h1 Resource Archive
        p= pageContents.resources.archiveDescr

      ul.archive-list
        each item in archivedResources
          if !item.skipInResources
            li.archive-list__item
              a(href=`${docBase}/${item.fileName}` target="_blank" rel="noopener")
                span= item.name
                span.material-icons(aria-hidden="true") arrow_forward
